<p><%= "@#{@user[:nickname]}"%></p>
<p><%=@user[:name]%></p>
<img src=<%= @user[:image_url] %>>
<p><%= @user[:description]%></p>

<%= link_to "Tweet" ,:controller => "home", :action => "tweet" %>
<%= link_to "logout" ,:controller => "sessions", :action => "destroy" %>

<br>
<p><%= session[:tweet_items] %></p>

<% if flash[:success] %>
  <%= flash[:success] %>
<% end %>


