<p>色々改装中です、機能はするから安心してね。</p>

<!--<p><%#= "uid:" + @user[:uid] %></p>-->
<p><%= "name:" + @user[:nickname]%></p>
<p><%= "screen_name:" + @user[:name]%></p>
<p><%= "image_url:" + @user[:image_url]%></p>
<img src=<%= @user[:image_url] %>>
<p><%= "description:" + @user[:description]%></p>

<!--# TODO 早急に消す-->

<!--<p><%#= "きー:" + @user[:oauth_token] %></p>-->
<!--<p><%#= "せくれっときー:" + @user[:oauth_token_secret] %></p>-->

<%= link_to "Tweet" ,:controller => "home", :action => "tweet" %>
<%= link_to "logout" ,:controller => "sessions", :action => "destroy" %>

<% if flash[:success] %>
  <%= flash[:success] %>
<% end %>

<!--イカテスト-->
<%= @oembed_tweets %>
<%= @search_url %>
<p><%= @doc_twi %></p>
<!--<p><%#= @doc %></p>-->
<!--ここまで？-->

<p></p>
<p><%= @client.user.created_at %></p>
<p><%= Time.now %></p>
<p><%= Time.now - @client.user.created_at %></p>

<%#= @client_timeline.size%>
<%#= @client_timeline[0].size%>
<%#= @client.user.tweets_count %>
<!--<ol>-->
  <%# @client_timeline.each do |first_t| %>
<!--      <li><%#= first_t.text %></li>-->
  <%# end %>
<!--</ol>-->