<section class="section">
  <div class="container">
    <h1 class="title">Omoidashitterへようこそ！</h1>
    <h2 class="subtitle">
      Omoidashitterは簡単にあなたのツイートを思い出せるアプリです！
    </h2>

    <div class="columns">
      <div class="column">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <%= fa_icon 'sign-in 4x' %>
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Twitterの簡単ログインで使える！</strong>
                  <br>
                  ボタンをクリックしてTwitter認証するだけで使えます！
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
        <div class="column">
          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <%= fa_icon 'sign-in 4x' %>
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Twitterの簡単ログインで使える！</strong>
                    <br>
                    ボタンをクリックしてTwitter認証するだけで使えます！
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <%= fa_icon 'sign-in 4x' %>
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Twitterの簡単ログインで使える！</strong>
                    <br>
                    ボタンをクリックしてTwitter認証するだけで使えます！
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>
    </div>
    <%= link_to "ツイッターでログインする", "/auth/twitter", :class => "button is-info is-large is-fullwidth" %>
    <%= image_tag('eruko.png', :size => "320x320") %>

  </div>
</section>

<br>