<!--<script>-->
<!--    $(function(){-->
<!--        $("#twi-load").on('click',function(){-->
<!--            $('<div id="loading-view" />').appendTo('body');-->
<!--        });-->
<!--    });-->
<!--</script>-->

<div class="loading"></div>

<% if flash[:tweet_limit] %>
  <div class="notification is-warning">
    <p><%= flash[:tweet_limit] %></p>
  </div>
<% end %>

<div id="wrap">
  <div class="box">
    <article class="media">
      <figure class="media-left">
        <figure class="image is-64x64">
          <img class="usericon-image" src=<%= @user[:image_url] %>>
        </figure>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong><%= @user[:name] %></strong>
            <small>@<%= @user[:nickname] %></small>
            <br>
            <%= @update_tweet_text %>
            <br>
            <%= @update_tweet_date %>
          </p>
        </div>
      </div>
    </article>
  </div>
  <br>

  <a class="button is-info" href="https://twitter.com/share?url=https://hogehoge.com&text=<%= @update_text %>&hashtags=おもいだしったー" target="_blank" class="twitter-share-button" data-show-count="false">この思い出しをツイート</a>
  <%#= link_to "もっと昔のツイートを思い出す！", {:controller => :home, :action => :tweet_search_repeat}, :id => 'twi-load', :class => "button is-info" %>

</div>