<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
<!--<script>-->
<!--    $(function() {-->
<!--        var h = $(window).height();-->

<!--        $('#wrap').css('display','none');-->
<!--        $('#loader-bg ,#loader').height(h).css('display','block');-->
<!--    });-->

<!--    $(window).load(function () { //全ての読み込みが完了したら実行-->
<!--        $('#loader-bg').delay(900).fadeOut(800);-->
<!--        $('#loader').delay(600).fadeOut(300);-->
<!--        $('#wrap').css('display', 'block');-->
<!--    });-->

<!--    //10秒たったら強制的にロード画面を非表示-->
<!--    $(function(){-->
<!--        setTimeout('stopload()',10000);-->
<!--    });-->

<!--    function stopload(){-->
<!--        $('#wrap').css('display','block');-->
<!--        $('#loader-bg').delay(900).fadeOut(800);-->
<!--        $('#loader').delay(600).fadeOut(300);-->
<!--    }-->
<!--</script>-->

<!--<div id="loader-bg">-->
<!--  <div id="loader">-->
<!--    <img src="img-loading.gif" width="80" height="80" alt="Now Loading..." />-->
<!--    <p>Now Loading...</p>-->
<!--  </div>-->
<!--</div>-->
<% if flash[:tweet_limit] %>
  <div class="notification is-warning">
    <p><%= flash[:tweet_limit] %></p>
  </div>
<% end %>

<div id="wrap">
  <div class="box">
    <article class="media">
      <figure class="media-left">
        <figure class="image is-64x64">
          <img class="usericon-image" src=<%= @user[:image_url] %>>
        </figure>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong><%= @user[:name] %></strong>
            <small><%= @user[:nickname] %></small>
            <br>
            <%= @tweet_text_link_excluded %>
            <br>
            <%= @tweet_date %>
          </p>
        </div>
      </div>
    </article>
  </div>
  <br>


  <a class="button is-info" href="https://twitter.com/share?url=https://bit.ly/2ptBbQj&text=<%= @update_text %>&hashtags=おもいだしったー" target="_blank" class="twitter-share-button" data-show-count="false">この思い出しをツイート</a>
  <%= link_to "もっと昔のツイートを思い出す！" ,{:controller => :home, :action => :tweet_search_repeat },:class => "button is-info" %>

</div>