<!DOCTYPE html>
<html>
  <head>
    <title>Omoidashitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello_react' %>
  </head>

  <body>
  <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
          Omoidashitter
      </a>
    </div>
  </nav>
<!--    <div id="root"></div>-->
    <%# javascript_pack_tag 'hello_react' %>
    <div class="section">
      <%= yield %>
    </div>
  </body>
</html>
